# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Dataset / model
data/
!data/**/*.dvc
!data/**/.gitignore
datasets/
checkpoints/
models/
!models/t5-small/checkpoint.dvc
!models/t5-small/checkpoint/**
*.pt
*.pth
*.ckpt

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# DVC / MLflow
.dvc/cache/
.dvc/tmp/
.dvc/config.local
mlruns/

# MLflow
mlflow.db
mlflow_model_artifacts/
mlruns/

# Evaluation results
eval_results/

# Wandb
wandb/

# DVC tmp
.dvc/tmp/
