# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Dataset / model
data/
datasets/
checkpoints/
models/
*.pt
*.pth
*.ckpt

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# DVC / MLflow
.dvc/cache/
.dvc/tmp/
.dvc/config.local
mlruns/
